:root {
  --primary-color: #2aa3fe;
  --secondary-color: #4af5e1;
  --heading-font: "Oswald", sans-serif;
  --default-font: "Pontano Sans", sans-serif;
}
body {
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font);
}

nav i {
  color: white;
  max-height: 45px;
  margin: 5px 0 5px 70px;
  font-size: 30px;
}

footer i,
h4 i {
  color: var(--secondary-color);
  font-size: 40px;
}
.content-container {
  margin: 95px auto 20px auto;
  padding: 0px 50px;
}
.secondary-button {
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
  background-color: white;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.primary-button {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
.content h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  color: var(--primary-color);
}

.content h2 {
  color: var(--primary-color);
  font-size: 24px;
}
.content li {
  list-style: none;
  margin: 0 0 40px 0;
}
.content ul {
  padding-left: 0;
}

nav {
  background-color: var(--secondary-color);
}

nav ul {
  margin: auto 100px auto 0;
}
nav li {
  display: inline;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 22px;
  margin-left: 30px;
  transition: all 100ms ease-in-out;
}

.link:hover,
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

footer .work-inquiry {
  background-color: var(--primary-color);
  padding: 20px 150px 20px 150px;
  border-radius: 12px;
}
footer h3 {
  color: white;
  font-size: 40px;
}
footer .work-inquiry p {
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
  padding: 95px 30px 100px 30px;
  border-radius: 12px;
  color: white;
}

.hero h1 {
  font-weight: 600;
  font-size: 90px;
  line-height: 100px;
  color: white;
}
.hero h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 70px;
  color: white;
  margin-bottom: 50px;
}

.featured-projects-heading {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.featured-projects h5 {
  font-size: 28px;
  color: white;
  margin-bottom: 12px;
  font-family: var(--default-font);
  font-weight: 600;
}

.project-background {
  background-color: var(--primary-color);
  padding: 20px 0 0 0;
  margin: 10px 10px;
}

.about-me p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.head-shot {
  width: 500px;
  border-radius: 4px;
}

@media (max-width: 900px) {
  nav img {
    margin-left: 10px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 15px;
    margin-left: 10px;
  }

  footer .work-inquiry {
    padding: 30px;
    text-align: center;
  }
  .hero {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .hero h1 {
    font-size: 50px;
    line-height: normal;
    padding: 20px 20px;
  }
  .hero h2 {
    font-size: 25px;
    line-height: normal;
  }

  .featured-projects {
    justify-content: center;
  }
  .featured-projects h5 {
    font-size: 18px;
  }

  .head-shot {
    margin-top: 30px;
  }

  .content {
    text-align: center;
  }
  .content h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
