:root {
  --primary-color: #2aa3fe;
  --secondary-color: #4af5e1;
  --heading-font: "Oswald", sans-serif;
  --default-font: "Pontano Sans", sans-serif;
}
body {
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font);
}
.container {
  max-width: 100%;
  margin: 0;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  margin: 100px 50px 30px 50px;
  padding-top: 95px;
  padding-bottom: 100px;
  border-radius: 12px;
  color: white;
}

.hero h1 {
  font-weight: 600;
  font-size: 90px;
  line-height: 100px;
  color: white;
}
.hero h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 70px;
  color: white;
  margin-bottom: 50px;
}

.featured-projects-heading {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.featured-projects {
  margin: 20px 38px;
}

.featured-projects h5 {
  font-size: 28px;
  color: white;
  margin-bottom: 12px;
  font-family: var(--default-font);
  font-weight: 600;
}

.project-background {
  background-color: var(--primary-color);
  padding: 20px 0 0 0;
  margin: 10px 10px;
}

.about-me {
  margin: 100px 50px 50px 50px;
}

.about-me h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  color: var(--primary-color);
}

.about-me h2 {
  color: var(--primary-color);
}

.about-me p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.head-shot {
  width: 500px;
  border-radius: 4px;
}
.secondary-button {
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
  background-color: white;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.primary-button {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero h1 {
    font-size: 50px;
    line-height: normal;
    padding: 20px 20px;
  }
  .hero h2 {
    font-size: 25px;
    line-height: normal;
  }

  .featured-projects {
    justify-content: center;
  }
  .featured-projects h5 {
    font-size: 18px;
  }
}
